---
---

@import "minima";

/* Force dark mode */
body {
  background-color: #0d1117;
  color: #e6edf3;
}

.site-header,
.site-footer {
  background-color: #0d1117;
  border-color: #30363d;
}

.site-title,
.site-title:visited {
  color: #f0f6fc;
}

a {
  color: #58a6ff;
}

pre, code {
  background-color: #161b22;
  color: #e6edf3;
}
